html {
  box-sizing: border-box;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

input {
  border: 0;
  border-bottom: 1px solid $placeholder-text;
  outline: 0;
  background: transparent;
  color: $green-text;

  &::-webkit-input-placeholder {
     color: $placeholder-text;
 }
}
