$brand-blue: #00bbd3;
$brand-white: #fff;
$brand-golden: #dfc121;
$brand-edit: #024d69;

$green-text: #92cbc5;
$regular-text: rgba(255, 255, 255, 0.6);
$placeholder-text: rgba(255, 255, 255, 0.4);

$button-grey: #ddd;
$button-green: #80cbc4;
$button-text-grey: #1c1c1c;

$gutter: 0.5rem;
$max-content-width: 25rem;
$brand-border: 2px solid $regular-text;
