<!--Markup Navbar / App container-->

<div class="navbar-container">
  <nav class="navbar">
    <h1 class="title">Run Timer</h1>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/scss'>
  </nav>
</div>

<div class="app-container"></div>

{{outlet}}
